.menutabbb {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FC6464;
  width: 1365.3px;
  height: 60px;
}
.nametitleb {
  color: #FFFFFF;
  font-family: Playfair Display SC;
  font-size: 2vw;
  font-weight: 700;
  line-height: 42px;
  width: 443.84px;
  text-align: left;
  position:absolute;
  top: -18px;
  left: 29.13px;

}
.nametitleb {
  color: #FFFFFF;
  font-family: Playfair Display SC;
  font-size: 2vw;
  font-weight: 700;
  line-height: 42px;
  width: 443.84px;
  text-align: left;
  position:absolute;
  top: -15px;
  left: 29.13px;
  margin-top: 1em;

}
.buttonbs {
  float: right;
  position: absolute;
  top :17px;
  left: 534.5px;
}
.buttonbsb {
  float: right;
  position: absolute;
  top :10px;
  left: 534.5px;
}

.buttonb {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #47525E;
  border-radius: 5px;
  width: 192.8px;
  height: 52px;
  color: #47525E;
  font-family: Lato;
  font-size: 1.8vw;
  font-weight: 400;
  text-align: center;
  padding: 0 20px;
  margin-left: 5px;
  text-decoration: none;
}
.clickedbuttonb {
  background-color: #FFBEC0;
  border: 2px solid #47525E;
  border-radius: 5px;
  width: 192.8px;
  height: 52px;
  color: #47525E;
  font-family: Lato;
  font-size: 1.8vw;
  font-weight: 400;
  text-align: center;
  padding: 0 20px;
  margin-left: 5px;
  text-decoration: none;
}
.buttonbIcon {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #47525E;
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
  padding: 0 20px;
  margin-left: 5px;
}
.window {
  background-image: url("https://marvel-live.freetls.fastly.net/canvas/2018/9/6098fa0c9f0f4db2aee6fa41833d5a31?quality=95&fake=.png");
  width: 1365.3px;
  height: 802px;
  position: absolute;
  top: 60px;
  left: 0px;
  background-position: center;
  background-size: cover;

}
.windowx {
  background-image: url("https://marvel-live.freetls.fastly.net/canvas/2018/9/6098fa0c9f0f4db2aee6fa41833d5a31?quality=95&fake=.png");
  width: 1365.3px;
  position: absolute;
  top: 60px;
  left: 0px;
  background-position: center;
  background-size: cover;

}
.welcome {
  background-color: #FFFFFF;
  width: 930px;
  height: 90px;
  color: #606060;
  font-family: Arvo;
  font-size: 4.5vw;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  position: absolute;
  top: 231px;
  left :230px;
  margin-top: 1em;
}
.startbuttonb {
  background-color: #47525E;
  border: 2px solid #47525E;
  border-radius: 5px;
  width: 192.8px;
  height: 52px;
  color: white;
  font-family: Lato;
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
  padding: 10 20px;
  margin-left: 5px;
  line-height: 50px;
  position: absolute;
  top: 400px;
  left :560px;
  text-decoration: none;
}
.board {
  background-color: #FCF3F3;
  width: 1200px;
  height: 630px;
  position: absolute;
  top: 120px;
  left: 75px;
}
.boardx {
  background-color: #FCF3F3;
  width: 1200px;
  height: 630px;
  position: absolute;
  top: 120px;
  left: 75px;
}
.boardxx {
  background-color: #FCF3F3;
  width: 1200px;
  position: absolute;
  top: 120px;
  left: 75px;
}
.proftext {
  color: #47525E;
  font-family: Lato;
  font-size: 3vw;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  position: absolute;
  top: 10%;
  left: 45%;
}
.topicprof {
  background-color: #FFCB65;
  width: 292px;
  height: 65px;
  position: absolute;
  top: 10.5%;
  left: 37.5%;
}
.topicket {
  background-color: #FFCB65;
  width: 500px;
  height: 65px;
  position: absolute;
  top: 10.5%;
  left: 30.125%;
}
.topicproftxt {
  color: #5A6978;
  font-family: Arvo;
  font-size: 4.4vw;
  font-weight: 700;
  line-height: 0%;
  text-align: center;
  position: absolute;
  top:  6.9%;
  left: 39.5%;
  margin-top: 1em;
}
.topicdaf {
  background-color: #FFCB65;
  width: 292px;
  height: 65px;
  position: absolute;
  top: -9.2%;
  left: 36.125%;
  margin-top: 1em;
}
#dftr {
  color: #5A6978;
  font-family: Arvo;
  font-size: 4.4vw;
  font-weight: 700;
  line-height: 0%;
  text-align: center;
  position: absolute;
  top: -10.5%;
  left: 38.125%;
  margin-top: 1em;
}

.topickettxt {
  color: #5A6978;
  font-family: Arvo;
  font-size: 4.4vw;
  font-weight: 700;
  line-height: 0%;
  text-align: center;
  position: absolute;
  top:  7%;
  left: 31.5%;
  margin-top: 1em;  
}
.topickon {
  background-color: #FFCB65;
  width: 320px;
  height: 65px;
  position: absolute;
  top: 10.5%;
  left: 36.125%;
}
.topickontxt {
  color: #5A6978;
  font-family: Arvo;
  font-size: 4.4vw;
  font-weight: 700;
  line-height: 0%;
  text-align: center;
  position: absolute;
  top:  7%;
  left: 37.85%;
  margin-top: 1em; 
}
.iconpic1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 13%;
  left: 72.5%;
}
.skill1 {
  color: #47525E;
  font-family: Lato;
  font-size: 2.4vw;
  font-weight: 400;
  line-height: 41px;
  width: 284px;
  text-align: left;
  position: absolute;
  top: 22%;
  left: 48%;
}

.iconpic2 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 20.5%;
}
.skill2 {
  color: #47525E;
  font-family: Lato;
  font-size: 2.4vw;
  font-weight: 400;
  line-height: 41px;
  width: 284px;
  text-align: right;
  position: absolute;
  top: 47%;
  right: 52%;
}

.iconpic3 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 65%;
  left: 72.5%;
}
.skill3 {
  color: #47525E;
  font-family: Lato;
  font-size: 2.4vw;
  font-weight: 400;
  line-height: 41px;
  width: 284px;
  text-align: left;
  position: absolute;
  top: 62%;
  left: 48%;
}
.profpic {
  
  width: 373.5px;
  height: 401.25px;
  background-size: cover;
  position: absolute;
  top: 11%;
  left: 9.5%;
}
.mailicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 24%;
  left: 87.5%;
}
.mailtxt {
  color: #47525E;
  font-family: Lato;
  font-size: 2.3vw;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  position: absolute;
  top: 29.5%;
  left: 48%;
}
.lineicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 39%;
  left: 8.5%;
}
.linetxt {
  color: #47525E;
  font-family: Lato;
  font-size: 2.3vw;
  font-weight: 400;
  line-height: 42px;
  text-align: right;
  position: absolute;
  top: 43%;
  right: 52%;
}
.instaicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 61%;
  left: 87.5%;
}
.instatxt {
  color: #47525E;
  font-family: Lato;
  font-size: 2.3vw;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  position: absolute;
  top: 59.5%;
  left: 48%;
}
.waicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 76%;
  left: 8.5%;
}
.watxt {
  color: #47525E;
  font-family: Lato;
  font-size: 2.3vw;
  font-weight: 400;
  line-height: 42px;
  text-align: right;
  position: absolute;
  top: 71.5%;
  right: 52%;
}
.phrase {
  color: #47525E;
  font-family: Lato;
  font-size: 2.3vw;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  position: absolute;
  top: 5.5%;
  left: 36.5%;
}
.frm{
  color: #47525E;
  font-family: Lato;
  font-size: 1vw;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  width : 50%;
  height: 100%;
}
.register {
  font-family: Lato;
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
  padding: 0 20px;
  margin-left: 5px;
  text-decoration: none;
  position: absolute;
  top:5%;
  left:5%;
}
.boardtransparan {
  max-width: 1000px;
  margin: auto;
  position: absolute;
  top : 10%;
  left : 10%;
}
.responsive {
  width : 100%;
  height: auto;
}
 @media (min-width: 320px) and (max-width: 480px) {
 .menutabbb {
    width: 100%;
  }
  .buttonbs {
    top : 8px;
    left :50%;
  }
  .buttonb {
    width : 90px;
    padding : 0 5px;
    font-size: 2.4vw;
  }
  .nametitleb {
    width: 100%;
    top : 0px;
    font-size : 2.8vw;
  }
  .profpic {
    left : 2%;
    width: 33.5%;
  }
  .proftext {
    left : 42%;
  }
  .window {
    position: absolute;
    top : 60px;
    width: 100%;
  }
  .windowx {
    position: absolute;
    top : 60px;
    width: 100%;
  }
  .board {
    left :0px;
    width : 100%;
  }
  .boardx {
    left :0px;
    width : 100%;
  }
  .boardxx {
    left :0px;
    width : 100%;
  }
  .topickon {
    width : 40%;
    left :28.5%;
  }
  .topickontxt {
    left :38.1%;
    top : 12%;
  }
  .topicprof {
    width : 40%;
    left :28.5%;
  }
  .topicproftxt {
    left :40.1%;
    top : 12%;
  }
  .topicdaf {
    width : 40%;
    left :28.5%;
  }
  #dftr {
    left :39.1%;
    top : -30px;
  }
  .topicket {
    width : 40%;
    left :28.5%;
  }
  .topickettxt {
    left :31%;
    top : 12%;
  }
  .iconpic2 {
    left : 7%;
  }
  .welcome {
    width: 40%;
    top : 40%;
    left: 27%;
    height: 18%;
  }
  .startbuttonb {
    left : 25%;
    top :65%;
    font-size : 5vw;

  }
  .register {
    font-size: 2.8vw;
  }
}

