<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Profile</title>
    <style>
    	body { 	background-image: url("https://www.prosyscom.com.my/wp-content/uploads/2018/03/share_image.png");
    			font-family: arial;
    		}
        div {   border: 5px solid powderblue;
                padding: 30px; 
                margin: 50px;
                background-color: white; }
    	h1 { color: lightblue;
             background-color: black;
             font-size: 50px
            }
        article { font-size: 22px; }
    </style>
</head>
<body>
    <h1 align = "center">Halo! Selamat datang di Profile saya dan Teman-teman!</h1>
    <div align = "center">
        <br><br><br>
        <h2>Profil Saya</h2>
        <img src="https://bem.cs.ui.ac.id/staf/assets/2018/img/photo/1706984530.jpg" title = 'My Picture' width = 25% >
        <br>
        <article><b>Nama</b> : {{ name }}</article>
        <br>
        <article><b>NPM</b> : {{ npm }}</article>
        <br>
        <article><b>Umur</b> : {{ age }} years old</article>
        <br>
        <article><b>Universitas</b> : {{ uni }} </article>
        <br>
        <article><b>Hobi</b> : {{ hobby }}</article>
        <br>
        <article>{{ description }}</article>

        <br><br><br>
        <h2>Profil Teman di Depan saya</h2>
        <img src="http://www.about.tarung2017.com/foto/711.jpg" title = 'Felia' width = 25% >
        <br>
        <article><b>Nama</b> : {{ namef }}</article>
        <br>
        <article><b>NPM</b> : {{ npmf }}</article>
        <br>
        <article><b>Umur</b> : {{ agef }} years old</article>
        <br>
        <article><b>Universitas</b> : {{ unif }} </article>
        <br>
        <article><b>Hobi</b> : {{ hobbyf }}</article>
        <br>
        <article>{{ descriptionf }}</article>

        <br><br><br>
        <h2>Profil Teman di Belakang saya</h2>
        <img src="http://www.about.tarung2017.com/foto/415.jpg" title = 'Hana' width = 25% >
        <br>
        <article><b>Nama</b> : {{ nameb }}</article>
        <br>
        <article><b>NPM</b> : {{ npmb }}</article>
        <br>
        <article><b>Umur</b> : {{ ageb }} years old</article>
        <br>
        <article><b>Universitas</b> : {{ unib }} </article>
        <br>
        <article><b>Hobi</b> : {{ hobbyb }}</article>
        <br>
        <article>{{ descriptionb }}</article>
    </div>
</body>
</html>
