{% extends 'navbar.html' %}
{% load static %}
{% block title %}Beranda{% endblock %}
{% block content %}
<div class = "window">
		<div class = "welcome">
			<p>Halo! Selamat datang di profilku.</p>
		</div>
		<a href = "profil" class = "startbuttonb">Kenali aku</a>
		
	</div>
{% endblock %}