{% extends 'navbar.html' %}
{% load static %}
{% block title %}Beranda{% endblock %}
{% block content %}
<div class = "window">
		
		<div class = "boardx">
			<div class = "d-flex flex-wrap boardtransparan">
				<form> 
  					<div class="form-group"> 
   						<label for="name">Nama</label> 
   						<input type="form-text" class="form-control form-control-sm" id="inputName" placeholder="Nama" style="width: 400px;"> 
  					</div> 

  					<div class="form-group"> 
   						<label for= "birth">Tanggal lahir</label> 
  						<input type="Date" class="form-control form-control-sm" id="inputBirthDate" placeholder="birthDate" style="width: 400px;"> 
    
  					</div> 
  					<div class="form-group"> 
      					<label for="email">Alamat e-mail</label> 
      					<input type="email" class="form-control form-control-sm" id="InputEmail" aria-describedby="emailHelp" placeholder="name@example.com" style="width: 400px;"> 
      					<small id="emailHelp" class="form-text text-muted">E-mail anda tidak akan disebar dimanapun.</small> 
  					</div> 
  					<div class="form-group"> 
      					<label for="username">Username</label> 
      					<input type="form-text" class="form-control form-control-sm" id="username" placeholder="username" style="width: 400px;"> 
  					</div> 
  					<div class="form-group"> 
      					<label for="exampleInputPassword1">Password</label> 
      					<input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password" style="width: 400px;" > 
  					</div> 
  					<div class="form-group"> 
      					<label for="exampleInputPassword1">Ulangi Password</label> 
      					<input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password" style="width: 400px;" > 
  					</div>
  					 <button type="submit" class="btn btn-primary" >Submit</button> 
 				</form>
			</div>

			<div class = "topicdaf">
			</div>
			<div>
				<p id = "dftr">DAFTAR</p>
			</div>
		</div>
		</div>
{% endblock %}