{% extends 'navbar.html' %}
{% load static %}
{% block title %}Jadwal{% endblock %}
{% block content %}
<div class = "window">
		
		<div class = "boardx">
			<div class = "d-flex flex-wrap boardtransparan">
				<form id="form" method="post" action = "{% url 'jadwal' %}">
          {% csrf_token %}
          {% for field in formjadwal %}
            {{ field.label_tag }}
            {{ field }}

          {% endfor %}
          <br>
          <button type="submit" class="btn btn-primary" >Submit</button> 
 				</form>
			</div>

			<div class = "topicdaf">
			</div>
			<div>
				<p id = "dftr">JADWAL</p>
			</div>
		</div>
		</div>
{% endblock %}