{% extends 'navbar.html' %}
{% load static %}
{% block title %}Beranda{% endblock %}
{% block content %}
<div class = "window">
		
		<div class = "board">
			<img src = "https://marvel-live.freetls.fastly.net/canvas/2018/9/b7481a0c613346c09c5cb0afbfe4116d?quality=95&fake=.png" class = "iconpic1">
			<img src = "https://marvel-live.freetls.fastly.net/canvas/2018/9/f502b6ae050d4362a18a887af1b07295?quality=95&fake=.png" class = "iconpic2">
			<img src = "https://marvel-live.freetls.fastly.net/canvas/2018/9/071bf2cfb66d4fc99b3a8a65432a50cf?quality=95&fake=.png" class = "iconpic3">
				
			</div>
			<p class = "skill1">Bahasa:<br>
				- Bahasa Indonesia<br>
				- Bahasa Inggris
			</p>
			<p class = "skill2">Digital Art:<br>
				- Sai
			</p>
			<p class = "skill3">Bahasa Pemrograman:<br>
				- Python<br>
				- Java
			</p>
			
			<div class = "topicket">
			</div>
			<div class="topickettxt">
				<p>KETRAMPILAN</p>
			</div>
		</div>

	</div>
{% endblock %}