{% extends 'navbar.html' %}
{% load static %}
{% block title %}Beranda{% endblock %}
{% block content %}
	<div class = "window">
		
		<div class = "board">
			<p class = "phrase">Hubungi saya melalui :</p>
			<img src = "https://marvel-live.freetls.fastly.net/canvas/2018/9/6f004d2d3c57453d82573a1cda949d9b?quality=95&fake=.png" class = "mailicon">
			<img src = "https://marvel-live.freetls.fastly.net/canvas/2018/9/8a3c225dcd91413f8386101057b42913?quality=95&fake=.png" class = "lineicon">
			<img src = "https://marvel-live.freetls.fastly.net/canvas/2018/9/4f0acf6a8d2c4e1fa5ef6c3975909bb7?quality=95&fake=.png" class = "instaicon">
			<img src = "https://marvel-live.freetls.fastly.net/canvas/2018/9/0f841f8b3d65417286888278f5376b12?quality=95&fake=.png" class = "waicon">
				
			</div>
			<p class = "mailtxt">E-mail:<br>
				clarisamirah1402@gmail.com
			</p>
			<p class = "linetxt">Line:<br>
				clarisamirah.s
			</p>
			<p class = "instatxt">Instagram:<br>
				clarisa.mirah
			</p>
			<p class = "watxt">Nomor Telepon/Whatsapp:<br>
				081289598096
			</p>
			
			<div class = "topickon">
			</div>
			<div class="topickontxt">
				<p>KONTAK</p>
			</div>
		</div>

	</div>
	

{% endblock %}