{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'story4/ppw2css.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div class = "menutabbb">
		<p class = "nametitleb">CLARISA MIRAH SEKARSARI</p>
		<div class = "buttonbs">
			<a href ="../profil" class = "buttonb">Profil</a>
			<a href = "../ketrampilan" class = "buttonb">Ketrampilan</a>
			<a href = "../daftar" class = "buttonb">Daftar</a>
			<a href = "../jadwal" class = "buttonb">Jadwal</a>
			<a href = "../catatanjadwal" class = "buttonb">Catatan</a>
			<a href = "../kontak" class = "buttonbIcon"><i class= "fa fa-phone"></i></a>
		</div>
		
	</div>
	{% block content %}{% endblock %}
	
	

</body>
</html>