{% extends 'navbar.html' %}
{% load static %}
{% block title %}Catatan Jadwal{% endblock %}
{% block content %}
<div class = "window">
		<div class = "boardx" style = "text-align : center;overflow: auto;">
			<table class="table">
  				<thead bgcolor = "#FFCB65">
    				<tr>
      					<th scope="col">Nama Kegiatan</th>
      					<th scope="col">Hari</th>
      					<th scope="col">Tanggal</th>
      					<th scope="col">Waktu</th>
      					<th scope="col">Tempat</th>
      					<th scope="col">Kategori</th>
    				</tr>
  				</thead>
  				<tbody>
  					{% for e in schedules %}
    				<tr>
      					<td>{{ e.nama_kegiatan }}</td>
      					<td>{{ e.hari }}</td>
      					<td>{{ e.tanggal }}</td>
      					<td>{{ e.waktu }}</td>
      					<td>{{ e.tempat }}</td>
      					<td>{{ e.kategori }}</td>
    				</tr>
    				{% endfor %}
  				</tbody>
			</table>
			<a href = "../delete" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Hapus Semua</a>
		</div>
	</div>
{% endblock %}