{% extends 'navbar.html' %}
{% load static %}
{% block title %}Profil{% endblock %}
{% block content %}
<div class = "window">
		
		<div class = "board">
			<div class = "profpic">
				<img src = "https://image.ibb.co/gO4J6e/imageedit_1_4887800030.gif" style="max-width:100%;height:auto;">
			</div>
			<div class = "proftext" >
				<p >Nama : Clarisa Mirah Sekarsari<br><br>

				Umur : 18 tahun<br><br>

				Tanggal Lahir : 14 Februari 2000<br><br>

				Tempat Lahir : DKI Jakarta, Indonesia<br></p>
			</div>
		</div>
		
		<div class = "topicprof">
			</div>
			<div class="topicproftxt">
				<p>PROFIL</p>
			</div>

	</div>
{% endblock %}